<section class="mainbar">

  <div class="panel panel-primary">
    <div class="panel-heading">
      <%= featureSingularName %> List
    </div>
    <div class="panel-body">

      <div class="pull-right">
        <a type="button" class="btn btn-success" ui-sref="app.create<%= featureSingularName %>()">
          <i class="glyphicon glyphicon-open"></i> New <%= featureSingularName %>
        </a>
      </div>

      <table ng-table="vm.tableParams" show-filter="true" class="table table-condensed table-striped">
          <tr ng-repeat="<%= camelizedSingularName %> in $data">
          <% var fieldLength = 0; for (var f in fieldMap) { %> 
          	<td data-title="'<%= f.capitalize() %>'" sortable="'<%= f %>'" filter="{ '<%= f %>': 'text' }">{{<%= camelizedSingularName %>.<%= f %>}}</td>
          <% fieldLength = fieldLength + 1;} %>
   
              <td>
                 <div class="table-actions">
                      <a class="btn btn-default" title="View" ui-sref="app.view<%= featureSingularName %>({<%= camelizedSingularName %>Id: <%= camelizedSingularName %>.id})">
                        <span class="glyphicon glyphicon-file"></span>
                      </a>
                      <a class="btn btn-default" title="Edit" ui-sref="app.edit<%= featureSingularName %>({<%= camelizedSingularName %>Id: <%= camelizedSingularName %>.id})">
                        <span class="glyphicon glyphicon-pencil"></span>
                      </a>
                      <a class="btn btn-danger" title="Remove" ng-really-message="Are you sure ?" ng-really-click="vm.remove(<%= camelizedSingularName %>)" item="<%= camelizedSingularName %>">
                        <span class="glyphicon glyphicon-remove-circle"></span>
                      </a>
                  </div>
              </td>
          </tr>
      </table>

    </div>
  </div>

</section>
